.menu {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, var(--color-1) 0%, var(--color-2) 100%);
  width: 375px;
  height: 100%;
  padding: 60px;
  position: absolute;
  top: 0px;
  left: 0;
  transition: all 0.5s linear;
  z-index: 3;
}

.menu-hidden {
  left: -375px;
}
